:root {
    --color-1: #ffffff;
}

*,
body,
html,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    // background-color: #e8eef3;


}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    .contain_body {
        width: 100%;
        height: 100%;

        .header {
            // max-height: min-content;

            color: black;
            background-color: var(--color-1);
            padding: 12px 0;

            line-height: 1.5;



            .contain_header {

                // background: red;
                max-width: 74%;
                margin: auto;

                @media(max-width:1314px) {

                    max-width: 100%;


                }



                .contain_logo_navbar {

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    // background: red;
                    width: 100%;




                    .logo {

                        padding: 0 15px;


                    }


                    .btn_toggle {


                        width: 44px;
                        height: 30px;
                        border-radius: 5px;
                        cursor: pointer;
                        border: none;
                        background-color: #ffffff;
                        display: none;
                    }

                    .btn_toggle:focus {
                        outline: none;
                        box-shadow: 0 0 15px rgba(224, 217, 217, 0.5);
                    }

                    .btn_toggle span {
                        height: 2px;
                        width: 20px;
                        background-color: #000000;
                        display: block;
                        margin: auto;
                        position: relative;
                        transition: all 0.3s ease;
                    }

                    .btn_toggle.active span {
                        background-color: transparent;
                    }

                    .btn_toggle span::before,
                    .btn_toggle span::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        transition: all 0.3s ease;
                    }

                    .btn_toggle span::before {
                        transform: translateY(-6px);
                    }

                    .btn_toggle.active span::before {
                        transform: rotate(45deg);
                    }

                    .btn_toggle span::after {
                        transform: translateY(6px);
                    }

                    .btn_toggle.active span::after {
                        transform: rotate(135deg);
                    }



                    .contain_nav {
                        padding: 0 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;



                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            list-style: none;


                            li {

                                display: inline-block;
                                margin-left: 40px;

                                a {

                                    color: black;


                                    text-decoration: none;

                                    font-size: 25px;
                                    text-transform: capitalize;

                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 15.45px;
                                    line-height: 16px;
                                    letter-spacing: 0.01em;

                                    @media (max-width:991px) {

                                        color: white;

                                    }


                                }


                            }

                        }

                        .contain_language {

                            width: 30px;
                            height: 30px;

                            margin-left: 15px;

                            span {

                                width: 100%;
                                height: 100%;
                                border-radius: 50%;

                                i {

                                    width: 100%;
                                    height: 100%;

                                }

                            }

                        }

                        .contain_btn {

                            margin-left: 15px;

                            button {


                                text-align: center;
                                padding: 5px 20px;
                                color: #177AD4;
                                background: none;
                                outline: none;
                                border: 1px solid #177AD4;
                                border-radius: 10px;

                                font-weight: 700;
                                font-size: 18px;
                                line-height: 20px;

                            }

                        }

                    }

                }


            }


        }

        .contain_home {

            margin: auto;


            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 87%;
            // background: yellow;

            .contain_home_left {
                // background: red;
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: columns;


                .left {

                    // margin-left: ;

                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    span {

                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;

                        /* identical to box height, or 111% */

                        letter-spacing: 0.1em;
                        text-transform: uppercase;

                        /* Primary/500 */

                        color: #177AD5;

                    }

                    h1 {
                        text-align: left;

                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 62px;
                        /* or 124% */

                        margin-top: 18px;

                        /* Neutral/800 */

                        color: #170F49;

                        @media (max-width:712px) {


                            font-size: 35px;
                        }

                    }

                    p {

                        margin-top: 18px;

                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        /* or 167% */


                        /* Neutral/600 */

                        color: #6F6C90;

                        @media (max-width:712px) {


                            font-size: 14px;
                        }


                    }

                    .contain_input {

                        margin-top: 18px;
                        width: 100%;

                        height: 80px;
                        border-radius: 10%;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;

                        background: #FFFFFF;
                        /* Neutral/300 */

                        border: 1px solid #EFF0F7;
                        box-shadow: 0px 8px 25px rgba(13, 10, 44, 0.06);
                        border-radius: 60px;
                        margin-right: 70px;


                        .button {

                            background: #177AD5;
                            border-radius: 100px;

                            padding: 18px 70px;
                            border: none;
                            outline: none;
                            color: #FFFFFF;
                            margin-right: 60px;

                            @media (max-width:525px) {

                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                padding: 0px 0px;
                                margin-right: 10px;


                            }

                        }

                        input {

                            outline: none;
                            border: none;
                            // width: 80%;
                            height: 100%;
                            color: black;
                            margin-left: 50px;

                            @media (max-width:525px) {

                                width: 50%;
                                margin-left: 10px;

                            }

                        }

                        @media (max-width:525px) {


                            width: 100%;
                            justify-content: space-between;
                            // flex: 1 1 auto;

                        }

                    }

                }

            }

            .contain_home_right {

                height: 100%;
                width: 50%;

                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: red;

                .right {
                    width: 50%;
                    height: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

            }


            @media (max-width:1314px) {

                display: flex;
                flex-direction: column;

                height: 500px;
                // background-color: red;
                width: 100%;


                .contain_home_left {

                    width: 100%;
                    height: 50%;
                    max-height: min-content;

                    .left {

                        @media (max-width:1314px) {

                            width: 100%;
                            padding: 0 50px;

                        }



                    }

                }

                .contain_home_right {

                    width: 100%;
                    height: 50%;
                    display: none;

                }


            }

            @media (max-width:1255px) {

                height: min-content;
                margin-top: 70px;

            }


        }


        .contain_sponsor {
            margin: 0 auto;
            width: 70%;

            // background-color: red;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            flex: 1 1 auto;

            .item_sponsor {

                width: 10%;

                @media (max-width:1255px) {

                    display: none;

                }


            }

            @media (max-width:1255px) {
                // height: 0px;

                // display: none;
                background-color: green;
            }

        }


        .contain_email_enter {
            position: relative;

            margin: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 210px;
            // background-color: red;
            width: 70%;

            margin-top: 150px;

            &::after {
                left: -400px;
                top: -50px;

                content: '';
                position: absolute;
                width: 400vw;
                height: 2px;

                background-color: #0000008c;

            }



            .left {
                // background-color: red;
                display: flex;
                justify-items: center;
                align-items: flex-start;
                flex-direction: column;

                @media (max-width:1067px) {

                    // width: 40%;

                }

                h1 {

                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 30px;
                    /* identical to box height, or 94% */


                    color: #000000;

                    span {

                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 30px;

                        color: #177AD5;

                    }

                }

                span {

                    margin-top: 15px;


                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    /* identical to box height, or 167% */


                    /* Neutral/600 */

                    color: #6F6C90;



                }

            }

            .right {

                .contain_input {

                    margin-top: 18px;
                    width: 100%;

                    height: 80px;
                    border-radius: 10%;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    background: #FFFFFF;
                    /* Neutral/300 */

                    border: 1px solid #EFF0F7;
                    box-shadow: 0px 8px 25px rgba(13, 10, 44, 0.06);
                    border-radius: 60px;
                    margin-right: 70px;

                    // @media(max-width:1425px) {

                    //     width: 60%;

                    // }



                    .button {



                        background: #177AD5;
                        border-radius: 100px;

                        padding: 18px 70px;
                        border: none;
                        outline: none;
                        color: #FFFFFF;
                        margin-right: 60px;

                        @media (max-width:452px) {}
                    }

                    input {

                        outline: none;
                        border: none;
                        // width: 80%;
                        height: 100%;
                        color: black;
                        margin-left: 60px;

                        @media(max-width:1425px) {}


                    }

                }

                @media(max-width:1425px) {}
            }

            @media (max-width:1314px) {

                width: 100%;
                padding: 0 50px;

            }

            @media (max-width:1104px) {

                width: 100%;
                padding: 0 50px;

                .left {
                    width: 50%;

                }

                .right {

                    width: 50%;

                    .contain_input {

                        width: 80%;
                        display: flex;
                        justify-content: space-between;

                        .button {

                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            padding: 0px 0px;

                        }

                        input {

                            width: 60%;

                        }


                    }



                }



            }

            @media (max-width:1050px) {

                display: flex;
                flex-direction: column;
                width: 100%;

                .left {

                    width: 100%;

                }

                .right {

                    width: 100%;



                    .contain_input {

                        margin-top: 18px;
                        width: 100%;

                        height: 80px;
                        border-radius: 10%;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;

                        background: #FFFFFF;
                        /* Neutral/300 */

                        border: 1px solid #EFF0F7;
                        box-shadow: 0px 8px 25px rgba(13, 10, 44, 0.06);
                        border-radius: 60px;
                        margin-right: 70px;

                        // @media(max-width:1425px) {

                        //     width: 60%;

                        // }



                        .button {



                            background: #177AD5;
                            border-radius: 100px;

                            padding: 18px 70px;
                            border: none;
                            outline: none;
                            color: #FFFFFF;
                            margin-right: 10px;

                            @media (max-width:452px) {

                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                padding: 0px 0px;

                            }

                        }

                        input {

                            outline: none;
                            border: none;
                            // width: 80%;
                            height: 100%;
                            color: black;
                            margin-left: 60px;

                            @media(max-width:1425px) {}


                            @media (max-width:452px) {
                                margin-left: 10px;

                            }


                        }

                    }



                }



            }



        }

        .contain_about {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 70%;
            height: 500px;
            // background-color: yellow;

            .left {
                width: 50%;
                height: 100%;

                img {

                    width: 100%;
                    height: 100%;

                }

                @media (max-width:1180px) {

                    width: 40%;


                }

                @media (max-width:900px) {

                    display: none;

                }


            }

            .right {
                // background: red;

                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .contain_card {

                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    height: 80%;
                    width: 60%;

                    padding: 0 30px;

                    filter: drop-shadow(0px 32px 48px rgba(0, 0, 0, 0.2));

                    box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);

                    border-radius: 15px;
                    // background-color: black;


                    h1 {

                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 90px;
                        /* identical to box height, or 188% */


                        color: #000000;

                    }

                    p {}

                    button {

                        margin-top: 15px;

                        color: white;
                        padding: 20px 65px;
                        border-radius: 15px;

                        background: rgba(23, 122, 213, 0.71);

                        border: none;
                        outline: none;
                        cursor: pointer;


                    }

                    @media (max-width:900px) {

                        width: 100%;
                    }


                }

                @media (max-width:1180px) {

                    width: 60%;


                }

                @media (max-width:900px) {

                    width: 100%;
                }


            }

            @media (max-width:1314px) {

                width: 100%;
                padding: 0 50px;

            }


        }

        .contain_membre {




            // margin-top: 140px;

            margin: 0 auto;
            max-height: min-content;
            // background: red;
            width: 80%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title_member {

                width: 100%;



                h1 {
                    text-align: center;
                    position: relative;
                    // text-align: left;

                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 38px;
                    /* identical to box height, or 95% */

                    letter-spacing: -0.02em;

                    color: #1C1A17;

                    &::after {
                        content: '';
                        position: absolute;
                        margin: auto;
                        width: 10%;
                        height: 2px;
                        background: #FDB135;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        bottom: -15px;


                    }

                }


            }


            section {
                margin-top: 60px;
                position: relative;

                max-height: min-content;

                width: 80%;
                display: flex;
                align-items: center;
                // background-color: red;

                .swiper {
                    width: 950px;


                    .card {

                        position: relative;
                        background: #fff;
                        border-radius: 20px;
                        margin: 20px 0;
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

                        .card-content {

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 30px;
                            position: relative;
                            z-index: 100;

                            .image {

                                height: 140px;
                                width: 140px;
                                border-radius: 50%;
                                padding: 3px;
                                background: #7d2ae8;

                                img {

                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 50%;
                                    border: 3px solid #fff;

                                }

                            }

                            .media-icons {

                                position: absolute;
                                top: 10px;
                                right: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                i {

                                    color: #fff;
                                    opacity: 0.6;
                                    margin-top: 10px;
                                    transition: all 0.3s ease;
                                    cursor: pointer;

                                    &:hover {

                                        opacity: 1;



                                    }

                                }


                            }

                            .name-profession {


                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-top: 10px;
                                /* color: ; */

                                .name {
                                    font-size: 20px;
                                    font-weight: 600;


                                }

                                .profession {
                                    font-size: 15px;
                                    font-weight: 500;

                                }


                            }

                            .rating {

                                display: flex;
                                align-items: center;
                                margin-top: 18px;

                                i {
                                    font-size: 18px;
                                    margin: 0 2px;
                                    color: #7d2ae8;


                                }


                            }

                            .button {
                                width: 100%;
                                display: flex;
                                justify-content: space-around;
                                margin-top: 20px;

                                button {

                                    background: #7d2ae8;
                                    outline: none;
                                    border: none;
                                    color: #fff;
                                    padding: 8px 22px;
                                    border-radius: 20px;
                                    font-size: 14px;
                                    transition: all 0.3s ease;
                                    cursor: pointer;

                                    &:hover {

                                        background: #6616d0;

                                    }


                                }


                            }


                        }

                        &::before {

                            content: "";
                            position: absolute;
                            height: 40%;
                            width: 100%;
                            background: #7d2ae8;
                            border-radius: 20px 20px 0 0;

                        }




                    }

                }

                .swiper-pagination {

                    position: absolute;

                }

                .swiper-pagination-bullet {
                    height: 7px;
                    width: 26px;
                    border-radius: 25px;
                    background: #7d2ae8;
                }

                .swiper-button-next,
                .swiper-button-prev {
                    opacity: 0.7;
                    color: #7d2ae8;
                    transition: all 0.3s ease;
                }

                .swiper-button-next:hover,
                .swiper-button-prev:hover {
                    opacity: 1;
                    color: #7d2ae8;
                }



            }









        }

        .contain_contact {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 600px;

            // background: yellow;



            .contact {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                // background: red;
                width: 80%;
                height: 100%;

                .left {
                    padding-right: 15px;

                    width: 50%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;

                    .image {


                        width: 100%;
                        height: 100%;

                        img {

                            width: 100%;
                            height: 100%;

                        }


                    }

                    @media(max-width:1150px) {

                        display: none;

                    }

                }

                .right {
                    padding-left: 15px;

                    width: 50%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    // background-color: green;
                    flex-direction: column;

                    .message {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        height: 90%;
                        width: 90%;
                        // background-color: red;
                        flex-direction: column;

                        h1 {

                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 38px;
                            line-height: 50px;
                            /* identical to box height, or 132% */

                            letter-spacing: -0.02em;

                            color: #1C1A17;

                            margin-bottom: 30px;


                        }

                        .contain_email {


                            display: flex;



                            .name {

                                width: 340px;
                                height: 48px;
                                border: none;
                                border: 1.5px solid #EEF1F3;
                                border-radius: 10px;
                                padding-left: 20px;
                                outline: none;

                            }

                            .email {

                                margin-left: 10px;
                                width: 340px;
                                height: 48px;
                                padding-left: 20px;
                                outline: none;
                                border-radius: 10px;
                                border: 1.5px solid #EEF1F3;

                            }

                            @media(max-width:828px) {

                                flex-wrap: wrap;

                                // display: flex;
                                // justify-items: center;
                                // align-items: center;
                                // flex-direction: column;

                                .email {

                                    margin-left: 0px;
                                    width: 100%;
                                    height: 48px;
                                    padding-left: 20px;
                                    outline: none;
                                    border-radius: 10px;
                                    border: 1.5px solid #EEF1F3;
                                    margin-top: 10px;

                                }

                                .name {

                                    margin-left: 0px;
                                    width: 100%;
                                    height: 48px;
                                    padding-left: 20px;
                                    outline: none;
                                    border-radius: 10px;
                                    border: 1.5px solid #EEF1F3;
                                    margin-top: 10px;

                                }

                            }


                        }

                        textarea {

                            border-radius: 4px;

                            margin-top: 10px;
                            outline: none;
                            border: 1.5px solid #EEF1F3;
                            padding-left: 20px;
                            padding-top: 40px;
                            width: 100%;

                        }

                        button {
                            margin-top: 15px;
                            border-radius: 5px;

                            width: 179px;
                            height: 60px;
                            border: none;
                            color: white;
                            background: #177AD5;


                        }

                    }

                    @media(max-width:1150px) {

                        width: 100%;
                    }
                }

                @media(max-width:1150px) {

                    width: 100%;
                    padding: 0 80px;

                    // display: flex;
                    // justify-items: center;
                    // align-items: center;
                    // flex-direction: column;

                }

                @media(max-width:548px) {

                    width: 100%;
                    padding: 0 10px;

                    // display: flex;
                    // justify-items: center;
                    // align-items: center;
                    // flex-direction: column;

                }

            }


        }


        .contain_footer {

            width: 100%;
            height: min-content;
            background: #1C1A17;
            display: flex;
            justify-content: center;
            align-items: center;

            footer {

                width: 80%;
                height: min-content;


                .footer_header {

                    flex: 1 1 auto;

                    padding-top: 40px;

                    width: 100%;
                    height: 20%;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        width: 50%;
                        color: #FFFFFF;
                        // background-color: yellow;

                        span {

                            margin-left: 10px;

                        }

                    }

                    .info {
                        // background: yellow;

                        width: 50%;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        flex-direction: column;
                        // background-color: rgb(46, 27, 27);


                        .plus_info {

                            width: min-content;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: row;
                            // background-color: red;

                            li {
                                width: 130px;
                                display: flex;
                                justify-content: center;
                                align-items: center;


                                h1 {
                                    margin-left: 5px;

                                    font-family: 'DM Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 20px;
                                    /* identical to box height */


                                    color: #FFFFFF;

                                }

                            }

                        }


                        @media(max-width:480px) {

                            display: none;

                        }


                    }

                    @media(max-width:980px) {


                        // .info {

                        //     width: 100px;

                        // }
                    }


                }

                .footer_body {
                    // background: green;
                    padding-top: 60px;

                    width: 100%;
                    height: 300px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    flex-wrap: wrap;

                    >div {
                        // background-color: rgb(160, 117, 117);
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
                        // flex-direction: column;

                        height: 100%;
                        // background-color: red;
                        margin-bottom: 15px;

                        h1 {
                            width: 100%;
                            height: 20%;

                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 23px;

                            color: #FFFFFF;

                        }

                        p {

                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 28px;
                            /* or 175% */

                            letter-spacing: -0.02em;

                            color: #FFFFFF;

                            opacity: 0.8;

                        }

                        .input_subscribe {
                            margin-top: 10px;
                            width: 313px;
                            height: 56px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // background-color: red;

                            input {
                                width: 68%;
                                height: 100%;

                                outline: none;
                                background: #2C2925;
                                border-radius: 3px;
                                font-family: 'DM Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;

                                color: #FFFFFF;

                                padding: 15px;

                            }

                            button {
                                margin-left: 10px;
                                height: 100%;
                                width: 30%;
                                border: none;
                                background: #FC5623;
                                border-radius: 3px;

                                font-family: 'DM Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;

                                color: #FFFFFF;

                                cursor: pointer;

                            }
                        }

                        ul {

                            // margin-top: 10px;
                            // background-color: green;
                            height: 80%;

                            li {

                                list-style: none;
                                margin-bottom: 30px;

                                font-family: 'DM Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 20px;
                                /* identical to box height */


                                color: #FFFFFF;

                                opacity: 0.8;

                            }

                        }

                        // flex: 0.5 1 auto;

                    }

                    @media(max-width:980px) {

                        // flex-direction: column;
                        height: min-content;

                    }



                }

                .footer_footer {
                    position: relative;

                    width: 100%;
                    // background-color: red;

                    height: 100px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    p {

                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        /* identical to box height */


                        color: #FFFFFF;

                        opacity: 0.8;

                        &:nth-child(2) {

                            @media(max-width:825px) {

                                display: none;

                            }
                        }

                    }



                    &::after {
                        content: '';
                        position: absolute;
                        width: 100vw;
                        height: 2px;
                        top: 0;
                        left: -200px;
                        background: #FFFFFF;
                        opacity: 0.15;

                    }



                }





            }

        }


    }

    @media (max-width:991px) {

        .contain_logo_navbar {
            height: 100%;


            // display: flex;
            // flex-direction: column;

        }

        .btn_toggle {

            display: block !important;
            margin-right: 40px;



        }

        .contain_nav {
            color: white !important;

            width: 100%;
            padding: 0;
            background-color: rgb(56, 126, 195);
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: all 0.5s ease;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 25px !important;

            ul {

                // margin: auto;
                display: flex;
                align-items: flex-start !important;
                justify-content: space-around !important;
                flex-direction: column !important;
                width: 100% !important;
                // background-color: yellow;
                height: 500px;
                // margin-top: 12px;
                padding: 0px 0px !important;
                margin: 0 !important;
                border-top: 1px solid rgba(255, 255, 255, 0.2);


                li {
                    // display: block;
                    // margin-top: 90px!important;
                    margin-left: 30px !important;
                    color: white !important;

                    a {

                        color: white !important;

                    }


                }

            }

            .contain_btn {

                display: flex;
                // background-color: black;
                width: 100%;


                button {


                    text-align: center;
                    padding: 5px 20px;
                    color: #ffffff !important;
                    background: none;
                    outline: none;
                    border: 1px solid #ffffff !important;
                    border-radius: 10px;

                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;

                }


            }

        }


        .contain_nav.open {

            visibility: visible;


        }







    }



}